

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: #FCFBFB;
}

#Hero-msg h1, #Hero-msg h4{
    text-align: center
}

#background{
    height: 725px;
    background-color: #cbD9C2A3;
}

.button-box{
    text-align: center
}

main section{
    text-align: center
}

body{
    background-color: #FCFBFB;
}

header {
    background-color:#6F7364;
}
nav a:hover {
    background-color: #2F2B2C;
    color: #FCFBFB;
}

footer{
    background-color:#6F7364 ;
    color:#FCFBFB ;
}

.book{
    background-color: #2F2B2C; 
}

.book:hover{
    background-color:#2F2B2C;
}

.join{
    background-color:#2F2B2C;
}

.join:hover{
    background-color:#2F2B2C;
}

.msg{
    background-color:#6F7364;
    color:#FCFBFB ;
}

.logo{
    width: 80px;
}

.icon
{
    width: 80px;
}

.home-title{
    color: #2F2B2C;
}

h4{
    
}